.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #f8eec7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.top .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #8b1d33;
}

.bottom .logout {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #8b1d33;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
